/****************
---ALIMENTACION---
*****************/
@import "variables";

.tips{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: fit-content;
        div{
        height: 100%;
        width: 100%;
        padding: 1rem;
        border: none;
        border-radius: 10px;
        background-color:rgb(221, 226, 230);
        width: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        }
}
