/***************
-----HEADER-----
****************/

@import "variables";

header{
    width: 100%;
    height: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: $sombra;
    .logo {
        width: fit-content;
        text-align: center;
        margin: 0.5rem 3rem;
            img{
                margin: 0 auto;
                width: $logo-header;
                height: $logo-header;
            }
    }
    .menu-icon{
        color: $blanco1;
    }
    nav{
        display: flex;
        justify-content: space-around;
        background-color: $gris1 10%;
        .nav-ul{
            width: 100%; 
            margin: auto;
            padding: 0 1rem;
            list-style: none;
            display: flex;
            justify-content: space-around;
            align-items: center;
            .item-navegacion {
                display: block;
                color: $blanco1;
                font-size: 1.05rem;
                font-weight: normal;
                height: 100%;
                text-align: center;
                padding: 0.5rem 0.8rem;
                margin: 0.4rem auto;
                border-radius: 1rem;
                cursor: pointer;
                transition: all 0.8s;
                    &:hover{
                    background-color: $blanco1;
                    color: $gris1;
                    font-weight: bold;
                    font-size: 0.95rem;
                    text-decoration:$gris1;
                    transition: all 0.8s;
                    padding: 0.5rem 0.8rem;
                    border-radius: 1.3rem;
                    }
            }
        }
    }
    .icon-header{
        margin: 1rem 1rem;
        color: $blanco1;
        font-size: 25px;
    }
}

.menu-fijo{
    background-color: $gris1;
    transition: all 0.2s ease-in-out;
}
