/**************
---PRODUCTOS---
***************/
@import "variables";
.container-barras{
    background-image: url(../assets/img/barras2.jpg);
    background-size: cover;
    background-attachment:scroll;
    background-repeat: no-repeat;
    background-position: center;
    height: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 5px 10px $sombra;
    h3{
        font-size: xx-large;
        color: $blanco2;
        text-shadow: 2px 2px 2px $sombra;
    }
}
.container-granola{
    background-image: url(../assets/img/granola.jpg);
    background-size: cover;
    background-attachment:scroll;
    background-repeat: no-repeat;
    background-position:bottom;
    height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 5px 10px $sombra;
    h3{
        font-size: xx-large;
        color: $blanco2;
        text-shadow: 2px 2px 2px $sombra;
    }
    p{
        font-size: large;
        color: $blanco2;
        text-shadow: 2px 2px 2px $sombra;
    }
}
.card{
    transition: all 0.5s;
    &:hover{
        transform: translateX(2px);
        transform: translateY(2px);
        box-shadow: 2px 2px 10px $sombra;
        transition:all 0.5s;
    }
}
div{
    text-align: center;
}