//Añado variables a mi proyecto

/*Variables del proyecto*/
$blanco1: white;
$blanco2:whitesmoke;
$font-size1: 16px;
$font-size2: 12px;
$gradiente-header1: #bc6f03;
$gradiente-header2: #874000;
$gris1: rgb(36, 39, 41);
$gris2: rgb(221, 226, 230);
$fondo-titulos1: rgb(240, 233, 233);
$fondo-titulos2: whitesmoke;
$texto-titulos: rgb(189, 88, 22);
$boton1: rgb(226, 71, 71);
$boton2: rgb(223, 37, 37);
$gradiente-footer1: #485461;
$gradiente-footer2: #1e2329;
$copy-footer:rgb(21, 21, 22);
$logo-header: 100px;
$logo-footer: 70px;
$icon: 20px;
$icon-mobile: 30px;


