//Añado variables a mi proyecto

/*Variables del proyecto*/
$blanco1: white;
$blanco2:whitesmoke;
$font-size1: 16px;
$font-size2: 12px;
$gris1: rgb(36, 39, 41);
$gris2: rgb(221, 226, 230);
$sombra: rgba(0, 0, 0, 0.5);
$fondo-titulos1: rgb(14, 13, 13);
$fondo-titulos2: whitesmoke;
$texto-titulos: whitesmoke;
$boton1: rgb(226, 71, 71);
$boton2: rgb(223, 37, 37);
$gradiente-footer1: rgb(191,148,125);
$gradiente-footer2: #1e2329;
$copy-footer:rgb(21, 21, 22);
$linkedin: rgb(14,118,168);
$logo-header: 90px;
$logo-header-mb: 70px;
$logo-footer: 85px;
$logo-footer-mb: 70px;
$icon: 20px;
$icon-mobile: 30px;


