@charset "UTF-8";
/***************
------BODY------
****************/
@import url("https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  background-color: white;
  font-size: 16px; }

/*Variables del proyecto*/
/***************
-----RESET-----
****************/
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
  list-style: none; }

/***************
-----GRILLAS-----
****************/
.body-areas {
  display: grid;
  grid-template-areas: "cabeza" "cuerpo" "pie";
  grid-template-rows: auto auto 20rem;
  /*Nombre areas footer*/ }
  .body-areas header {
    grid-area: cabeza; }
  .body-areas main {
    grid-area: cuerpo; }
  .body-areas footer {
    grid-area: pie; }

.conteiner-conocenos {
  display: grid;
  grid-template-areas: "quienes-somos quienes-somos quienes-somos" "mision media vision" "valores valores valores";
  grid-template-columns: repeat 1fr;
  grid-template-rows: 1fr 2fr 1fr;
  gap: 1rem;
  margin: auto 1rem;
  height: fit-content;
  /*Nombre Areas Conocenos*/ }
  .conteiner-conocenos .quienes-somos {
    grid-area: quienes-somos; }
  .conteiner-conocenos .mision {
    grid-area: mision; }
  .conteiner-conocenos .media-conocenos {
    grid-area: media; }
  .conteiner-conocenos .vision {
    grid-area: vision; }
  .conteiner-conocenos .valores {
    grid-area: valores; }

.conteiner-contacto {
  /*Formulario*/ }
  .conteiner-contacto fieldset {
    font-size: 0.9rem;
    display: grid;
    grid-template-areas: "nombre apellido" "correo telefono" "localidad localidad" "asunto asunto" "mensaje mensaje" "enviar enviar";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 2fr;
    gap: 1rem;
    /*Nombre Areas Formulario*/ }
    .conteiner-contacto fieldset .nombre-grid {
      grid-area: nombre; }
    .conteiner-contacto fieldset .apellido-grid {
      grid-area: apellido; }
    .conteiner-contacto fieldset .correo-grid {
      grid-area: correo; }
    .conteiner-contacto fieldset .telefono-grid {
      grid-area: telefono; }
    .conteiner-contacto fieldset .localidad-grid {
      grid-area: localidad; }
    .conteiner-contacto fieldset .asunto-grid {
      grid-area: asunto; }
    .conteiner-contacto fieldset .mensaje-grid {
      grid-area: mensaje; }
    .conteiner-contacto fieldset .enviar-grid {
      grid-area: enviar; }

/*-----FOOTER-----*/
footer {
  display: grid;
  grid-template-areas: "logo-footer links-footer contacto-footer redes-footer" "copyright-footer copyright-footer copyright-footer copyright-footer";
  grid-template-columns: 1.2fr 1fr 1fr 1fr;
  grid-template-rows: 2fr 1fr;
  row-gap: 2rem;
  padding-top: 1rem;
  background-color: #242729;
  /*Nombre areas footer*/ }
  footer .logo-footer {
    grid-area: logo-footer; }
  footer .links-footer {
    grid-area: links-footer; }
  footer .contacto-footer {
    grid-area: contacto-footer; }
  footer .redes-footer {
    grid-area: redes-footer; }
  footer .copyright-footer {
    grid-area: copyright-footer; }

/***************
-----HEADER-----
****************/
/*Variables del proyecto*/
header {
  width: 100%;
  height: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5); }
  header .logo {
    width: fit-content;
    text-align: center;
    margin: 0.5rem 3rem; }
    header .logo img {
      margin: 0 auto;
      width: 90px;
      height: 90px; }
  header .menu-icon {
    color: white; }
  header nav {
    display: flex;
    justify-content: space-around;
    background-color: #242729 10%; }
    header nav .nav-ul {
      width: 100%;
      margin: auto;
      padding: 0 1rem;
      list-style: none;
      display: flex;
      justify-content: space-around;
      align-items: center; }
      header nav .nav-ul .item-navegacion {
        display: block;
        color: white;
        font-size: 1.05rem;
        font-weight: normal;
        height: 100%;
        text-align: center;
        padding: 0.5rem 0.8rem;
        margin: 0.4rem auto;
        border-radius: 1rem;
        cursor: pointer;
        transition: all 0.8s; }
        header nav .nav-ul .item-navegacion:hover {
          background-color: white;
          color: #242729;
          font-weight: bold;
          font-size: 0.95rem;
          text-decoration: #242729;
          transition: all 0.8s;
          padding: 0.5rem 0.8rem;
          border-radius: 1.3rem; }
  header .icon-header {
    margin: 1rem 1rem;
    color: white;
    font-size: 25px; }

.menu-fijo {
  background-color: #242729;
  transition: all 0.2s ease-in-out; }

/*************
-----MAIN-----
**************/
/*Variables del proyecto*/
main {
  padding-bottom: 2rem;
  /*Animaciones*/ }
  main p {
    padding: 2rem 5rem;
    text-align: center; }
  main .carousel-item {
    position: relative; }
    main .carousel-item p {
      width: 80%;
      padding: 1rem 1rem;
      color: white;
      font-size: 3rem;
      text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
  main .titulo-principal {
    width: 100%;
    height: 12rem;
    background-color: #0e0d0d;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    color: whitesmoke;
    font-style: italic;
    font-size: large; }
  main .titulos {
    width: 100%;
    height: 5rem;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem auto;
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.5);
    text-transform: uppercase; }
  main h2, main h3, main h4, main h5, main h6 {
    text-align: center; }
  main a img {
    vertical-align: middle; }
  main .titulo-animado {
    animation-name: titulo-animado;
    animation-iteration-count: 1;
    animation-duration: 3s;
    animation-delay: 0s; }

@keyframes titulo-animado {
  from {
    transform: translateY(-40px);
    opacity: 0%;
    font-size: 0rem; }
  to {
    transform: translateY(0);
    opacity: 100%; } }

/**************
-----INDEX-----
***************/
/*Variables del proyecto*/
.main-index {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center; }
  .main-index .carrusel {
    width: 100%;
    height: 35rem;
    padding: 5rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke; }
    .main-index .carrusel div {
      width: 100%;
      height: 95%; }
      .main-index .carrusel div .carousel-item {
        height: 100%; }
        .main-index .carrusel div .carousel-item img {
          height: 100%;
          object-fit: cover;
          object-position: center; }
  .main-index .nosotros-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    margin: auto;
    background-color: #dde2e6; }
    .main-index .nosotros-flex div {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center; }
    .main-index .nosotros-flex img {
      width: auto;
      height: 20rem; }
    .main-index .nosotros-flex p {
      color: #242729;
      height: 100%;
      text-align: justify; }

/**************
---CONOCENOS---
***************/
/*Variables del proyecto*/
.conteiner-conocenos .quienes-somos, .conteiner-conocenos .mision, .conteiner-conocenos .vision, .conteiner-conocenos .valores, .conteiner-conocenos .media-conocenos {
  padding: 1rem;
  border: none;
  border-radius: 10px;
  background-color: #dde2e6; }

.conteiner-conocenos .media-conocenos {
  display: flex;
  justify-content: center;
  align-items: center; }
  .conteiner-conocenos .media-conocenos img {
    height: 17rem;
    border-radius: 0.8rem; }

.conteiner-conocenos .valores {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .conteiner-conocenos .valores .valores-items {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    font-weight: bold; }
    .conteiner-conocenos .valores .valores-items div {
      padding: 1rem 1rem;
      background-color: #242729;
      color: whitesmoke;
      border-radius: 15px; }

.contacto-main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 2rem;
  /*Mapa iframe*/ }
  .contacto-main .mapa iframe {
    width: 100%;
    height: 20rem; }

/**************
---PRODUCTOS---
***************/
/*Variables del proyecto*/
.container-barras {
  background-image: url(../assets/img/barras2.jpg);
  background-size: cover;
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-position: center;
  height: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5); }
  .container-barras h3 {
    font-size: xx-large;
    color: whitesmoke;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5); }

.container-granola {
  background-image: url(../assets/img/granola.jpg);
  background-size: cover;
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-position: bottom;
  height: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5); }
  .container-granola h3 {
    font-size: xx-large;
    color: whitesmoke;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5); }
  .container-granola p {
    font-size: large;
    color: whitesmoke;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5); }

.card {
  transition: all 0.5s; }
  .card:hover {
    transform: translateX(2px);
    transform: translateY(2px);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    transition: all 0.5s; }

div {
  text-align: center; }

/****************
---ALIMENTACION---
*****************/
/*Variables del proyecto*/
.tips {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: fit-content; }
  .tips div {
    height: 100%;
    width: 100%;
    padding: 1rem;
    border: none;
    border-radius: 10px;
    background-color: #dde2e6;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }

/******************
---INSTITUCIONAL---
******************/
/*Variables del proyecto*/
/***************
----CONTACTO----
****************/
/*Variables del proyecto*/
.contacto-main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 2rem;
  /*Mapa iframe*/ }
  .contacto-main a {
    text-decoration: none;
    list-style: none;
    color: #242729;
    cursor: pointer; }
  .contacto-main .mapa iframe {
    width: 100%;
    height: 20rem; }

fieldset {
  padding: 2rem;
  margin: 1rem 3rem;
  border: none;
  border-radius: 10px;
  background-color: #dde2e6; }
  fieldset legend {
    width: 15rem;
    border: none;
    border-radius: 8px;
    height: 2.5rem;
    background-color: #242729;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem; }
  fieldset div {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
    fieldset div label {
      width: 20%; }
  fieldset input, fieldset select, fieldset textarea {
    border-radius: 5px;
    border: 1px solid #242729;
    height: 2.5rem;
    width: 100%; }
  fieldset .asunto-grid select {
    height: 4rem; }
  fieldset .mensaje-grid textarea {
    height: 8rem;
    width: 100%; }
  fieldset .enviar-grid {
    width: 100%;
    height: fit-content; }
    fieldset .enviar-grid input {
      width: 4rem;
      border: none;
      border-radius: 8px;
      height: 3rem;
      background-color: #e24747;
      color: whitesmoke;
      font-weight: bold;
      width: 5rem;
      cursor: pointer; }
      fieldset .enviar-grid input:hover {
        background-color: #df2525; }

/***************
-----FOOTER-----
****************/
/*Variables del proyecto*/
footer {
  background-color: #bf947d; }
  footer .logo-footer {
    display: flex;
    justify-content: center;
    align-items: center; }
    footer .logo-footer img {
      width: 85px;
      height: 85px; }
  footer .box-footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: space-between;
    padding-top: 1rem; }
  footer .title-footer {
    font-size: 1.15rem;
    color: white;
    text-decoration: underline;
    margin-bottom: 0.5rem; }
  footer .text-footer {
    font-size: 0.9rem;
    color: #dde2e6;
    text-decoration: none; }
    footer .text-footer:hover {
      text-decoration: underline; }
  footer .icon-footer {
    width: 20px;
    height: 20px; }
  footer .redes-footer a {
    display: inline-block; }
  footer .copyright-footer {
    background-color: #151516;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%; }
    footer .copyright-footer a {
      vertical-align: middle; }
      footer .copyright-footer a i {
        color: #0e76a8; }
  footer a {
    vertical-align: middle; }
    footer a i {
      color: black; }
  footer .mobile-footer {
    display: none; }

/*******************
-----RESPONSIVE-----
********************/
/*Variables del proyecto*/
/********VERSIÓN TABLET (width entre 576 y 1023px)*********/
@media (min-width: 576px) and (max-width: 1023px) {
  /*-----HEADER-----*/
  .nav-ul {
    padding: 0;
    margin: auto; }
    .nav-ul .item-navegacion {
      font-size: 0.85rem;
      padding: 0.5rem 0.1rem;
      margin: 0.4rem auto; }
  /*-----MAIN-----*/
  main .carousel-item p {
    font-size: 2rem;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); }
  .icon-header {
    display: none; }
  /*-----HTML INDEX-----*/
  .nosotros-flex {
    display: flex;
    flex-direction: column; }
  /*-----HTML CONOCENOS-----*/
  .conteiner-conocenos {
    display: grid;
    grid-template-areas: "quienes-somos quienes-somos" "media media" "mision vision" "valores valores ";
    grid-template-columns: repeat 1fr;
    grid-template-rows: auto auto auto;
    gap: 1rem;
    margin: auto 1rem;
    height: fit-content; }
  /*-----PRODUCTOS HTML-----*/
  .barra-productos {
    display: flex;
    flex-direction: column; }
  /*-----CONTACTO HTML-----*/
  .conteiner-contacto {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr;
    text-align: center; }
    .conteiner-contacto fieldset {
      font-size: 0.9rem;
      display: grid;
      grid-template-areas: "nombre" "apellido" "correo" "telefono" "localidad" "asunto" "mensaje" "enviar";
      grid-template-columns: 1fr;
      grid-template-rows: repeat(1fr) 1.5fr 2fr 1fr;
      gap: 1rem; }
  /*-----FOOTER-----*/
  footer {
    display: grid;
    grid-template-areas: "logo-footer contacto-footer" "logo-footer redes-footer " "copyright-footer copyright-footer";
    grid-template-columns: 1fr 1.5fr;
    grid-template-rows: 1fr 1fr 1fr;
    padding-top: 1rem;
    background-color: #bf947d;
    row-gap: 1.5rem;
    height: 20rem; }
    footer .box-footer {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 0.85rem; }
    footer .links-footer {
      display: none; } }

/********VERSIÓN MOBILE (width<575px)*********/
@media (max-width: 575px) {
  .body-areas {
    display: grid;
    grid-template-areas: "cabeza" "cuerpo" "pie";
    grid-template-rows: auto auto 8rem; }
  body {
    font-size: 12px; }
  /*-----HEADER-----*/
  header .logo img {
    width: 70px;
    height: 70px; }
  header .icon-header {
    display: none; }
  header .item-navegacion {
    font-size: 0.8rem;
    margin: auto;
    margin: 0.4rem 0; }
    header .item-navegacion:hover {
      font-size: 0.85rem; }
  /*-----INDEX*-----*/
  .nosotros-flex {
    display: flex;
    flex-direction: column; }
  /*-----MAIN-----*/
  main .titulo-principal {
    width: 100%;
    height: 5rem; }
  main .titulos {
    width: 100%;
    height: 3rem; }
  main h2 {
    font-size: 2rem; }
  main .carousel-item p {
    font-size: 1.5rem;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); }
  /*-----HTML CONOCENOS-----*/
  .conteiner-conocenos {
    display: grid;
    grid-template-areas: "quienes-somos quienes-somos" "media media" "mision vision" "valores valores ";
    grid-template-columns: repeat 1fr;
    grid-template-rows: auto auto auto;
    gap: 1rem;
    margin: auto 1rem;
    height: fit-content; }
  /*-----HTML PRODUCTOS-----*/
  .barra-productos {
    display: flex;
    flex-direction: column; }
  /*-----CONTACTO HTML-----*/
  .conteiner-contacto {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr;
    text-align: center; }
    .conteiner-contacto fieldset {
      font-size: 0.9rem;
      display: grid;
      grid-template-areas: "nombre" "apellido" "correo" "telefono" "localidad" "asunto" "mensaje" "enviar";
      grid-template-columns: 1fr;
      grid-template-rows: repeat(1fr) 1.5fr 2fr 1fr;
      gap: 1rem; }
    .conteiner-contacto label {
      width: 50%; }
  /*-----FOOTER-----*/
  footer {
    display: grid;
    grid-template-areas: "logo-footer mobile-footer" "copyright-footer  copyright-footer ";
    grid-template-columns: 1.2fr 1fr;
    grid-template-rows: 2fr 1fr;
    padding-top: 0.5rem;
    background-color: #bf947d;
    row-gap: 1rem; }
    footer .links-footer {
      display: none; }
    footer .contacto-footer {
      display: none; }
    footer .redes-footer {
      display: none; }
    footer .mobile-footer {
      display: block; }
    footer .logo-footer img {
      width: 70px;
      height: 70px; }
    footer .mobile-footer {
      display: flex;
      justify-content: center;
      align-items: center; }
    footer .mobile-footer a i {
      margin: 0 1rem;
      vertical-align: middle;
      color: #242729; }
    footer .copyright-footer {
      font-size: 0.8rem; }
      footer .copyright-footer span {
        display: none; } }
